			<!-- Email Footer : BEGIN -->
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%" style="max-width: 680px; font-family: sans-serif; color: #ffffff; font-size: 12px; line-height: 140%;">
				<tr>
					<td style="padding: 40px 10px; width: 100%; font-family: sans-serif; font-size: 12px; line-height: 140%; text-align: center; color: #ffffff;" class="x-gmail-data-detectors">
						Email footer
					</td>
				</tr>
			</table>
			<!-- Email Footer : END -->